<html>
    <head>
        <title>{{ store.getName }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ store.getName }}</h1>


            <form action="/add_brand" method="post">
                <input id="store_id" name="store_id" type="hidden" value="{{ store.getId }}">
                <label for="brand_id">Add a new brand for this store</label>
                <select name="brand_id" type="text">
                        {% for brand in all_brands %}
                            <option value="{{ brand.getId }}">{{ brand.getName }}</option>

                        {% endfor %}
                </select>
                <button type="submit">Add</button>
            </form>


            {% if brands is not empty %}
                <h3>{{ store.getName }} carries the following brands:</h3>
                <ul>
                    {% for brand in brands %}
                        <li>{{ brand.getName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <br>

            <form action="/store/{{ store.getId }}/edit">   
                <button type="submit">Change Store Name</button>
            </form>

            <form action="/">
            <button type="submit">Home</button>
        </form>


        </div>
    </body>
</html>
